@import "./reset.css";

/* DEV SETTINGS */

/* SETUP */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
}

img {
    display: none;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 800px;
    margin-inline: auto;
}
@media (max-width: 920px) {
    .wrapper {
        padding-inline: 0.25em;
    }
}

:root {
    --clr-primary: #171a21;
    --clr-accent: #eee5e9;

    --ff-primary: Poppins, Roboto, Arial, sans-serif;
    --ff-accent: "Cabin Sketch", Roboto, Arial, sans-serif;

    --fs-0: clamp(1rem, 0.913rem + 0.435vi, 1.25rem);
    --fs-1: clamp(1.2rem, 1.02rem + 0.902vi, 1.719rem);
    --fs-2: clamp(1.44rem, 1.119rem + 1.606vi, 2.363rem);
    --fs-3: clamp(1.728rem, 1.199rem + 2.646vi, 3.25rem);
    --fs-4: clamp(2.074rem, 1.241rem + 4.164vi, 4.468rem);
    --fs-5: clamp(2.488rem, 1.217rem + 6.357vi, 6.144rem);

    font-family: var(--ff-primary);
    font-size: var(--fs-0);
    background-color: var(--clr-accent);
    color: var(--clr-primary);
}

/* COMPONENTS */

header {
    border: 2px solid red;
    padding-block: 2vw;
    font-family: var(--ff-accent);
    font-size: var(--fs-4);
    text-align: center;
}

footer {
    background-color: var(--clr-primary);
    color: var(--clr-accent);
    padding-block: 1.5vw 2.5vw;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-basis: 100%;
}
@media (max-width: 920px) {
    .footer {
        flex-direction: column;
        gap: .5em;
    }
}

